body{
    background-color: #333;
    font-family: 'Bebas Neue', sans-serif;
}

.homepage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#navbar{
    grid-area: 1 / 1 / 2 / 3; 
    background-color: #f6f2f6;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

ul#navbar li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

ul#navbar li a{
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.footpr{
    box-sizing: border-box;
    border-color: #f6f2f6;
    grid-area: 2 / 2 / 3 / 3;
}

.footpr h1{
    color: #cee714;
    stroke: #333;
}

.footpr h3{
    color: #f6f2f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.handpr{
    grid-area: 3 / 2 / 4 / 3;
}

.handpr h1{
    color: #cee714;
    stroke: #333;
}

.logimgcat{
    color: #f6f2f6;
    grid-area: 2 / 1 / 4 / 2;
}